@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f1f1f1;
  padding: 2%;
  min-height: 100vh;
}

.header {
  font-family: monospace;
  color: #5e2222;
  font-size: small;
  display: flex;
  align-items: center;
  gap: 0.9vh;
}

.main {
  display: flex;
  margin-top: 5vh;
  gap: 10vh;
}

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/book-cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  max-width: 200px;
  height: 250px;
  color: white;
  gap: 1vh;
}

p {
  font-size: small;
  color: hsla(0, 0%, 90%, 0.9);
}

.readBtn {
  color: white;
  padding: 1vh;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addBtn {
  background-color: black;
  width: 40px;
  height: 40px;
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

#bookDialog {
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#bookForm {
  padding: 5vh;
  background-color: white;
}

.formVal {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.formBtns > button {
  margin-top: 5%;
  padding: 5px 10px;
  border: 0;
  border-radius: 5px;
  color: white;
}

#cancelBtn {
  background-color: hsl(0, 100%, 40%);
}

#submitBtn {
  background-color: hsl(120, 100%, 40%);
}

#cancelBtn:hover {
  background-color: hsl(0, 100%, 50%);
}

#submitBtn:hover {
  background-color: hsl(120, 100%, 50%);
}
